h1 {
    margin-top: 5px;
    margin-left: 5px;
    text-decoration: solid;
  }
  
  .principal img {
    display: block;
    margin: auto;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }