.main-galeria img {
  width: 224px !important;
  height: 224px !important;
}

.galeria-container {
  display: grid !important;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  justify-items: center;
  margin-top: 20px;
}

.item {
  display: inline-block;
  margin: 0 10px;
}

.galeria-container img {
  margin-bottom: 20px;
}

/* Media Queries */
@media (max-width: 767px) {
  .galeria-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .item {
    margin: 0 5px;
  }
}

@media (max-width: 575px) {
  .galeria-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
